* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  outline: none;
}

.amm {
  position: relative;
  z-index: 100;
}

.position-absolute {
  margin-top: 80%;
  margin-bottom: 0px;
}

@font-face {
  font-family: lato_b;
  src: url(../../../fonts/lato/Lato-Bold.ttf);
}

@font-face {
  font-family: lato_r;
  src: url(../../../fonts/lato/Lato-Regular.ttf);
}

body {
  height: 100%;
}

.main_div {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  height: 100%;
  font-family: lato_b;
  color: white;
}

.div1 {
  height: 747px;
  width: 65%;
  background-color: #212529;

  .wrapper {
    margin-left: 10%;
    margin-top: 10%;

    nav {
      text-transform: capitalize;

      ul {
        display: flex;
        list-style: none;
      }

      li {
        margin-right: 2.5%;
      }

      a {
        color: #5d6068;
        text-decoration: none;
      }

      .active {
        color: white;
      }
    }
  }
}

.div2 {
  width: 35%;
  background-color: #272b2f;
  padding-top: 7%;

  .f2 {
    padding-left: 5%;
    margin-top: 10px;
    height: 120px;

    .admin {
      float: left;
      transform: scale(0.8);
      margin-top: 1%;
    }

    h1 {
      font-family: lato_b;
      text-transform: capitalize;
      font-size: 30px;
    }
  }

  .mx-ml-2 {
    margin-left: 45%;
    position: absolute;
  }

  .line {
    background-color: #31363a;
    height: 1px;
    width: 90%;
    margin: auto;
    margin-bottom: 13%;
  }

  .card {
    position: relative;
    z-index: 0;
    background-color: #2a2e32;
    width: 90%;
    border-radius: 15px;
    height: 35%;
    margin: auto;
    padding-top: 20%;
    padding-left: 25%;

    p {
      font-size: small;
      text-transform: capitalize;
    }
  }

  .buttons {
    text-align: center;

    button {
      width: 80%;
      height: 43px;
      border: none;
      border-radius: 30px;
      font-family: lato_b;
      color: white;
      margin-top: 5%;
      outline: none;
    }

    button:hover {
      cursor: pointer;
    }

    button:nth-child(1) {
      background-color: #fd4c47;
    }

    .go {
      margin-top: 2%;
      background-color: #2a3137;
    }

    .edit_admin {
      margin-top: 2%;
      background-color: #fd4c47;
    }
  }
}

#sss {
  outline: none;
}

#select1 {
  padding-left: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-family: lato_b;
  color: white;
  background: #dc3545;
  width: 100%;
  height: 40px;
  font-size: 12px;
  margin: auto;
  margin-bottom: 20px;

  option {
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: lato_b;
    color: white;
  }
}

#textarea1 {
  border: 0.2px solid #dc3545;
  padding: 10px 0 0 10px;
  width: 100%;
  resize: none;
}

.bard {
  position: absolute;
  margin-top: 2%;
  margin-left: 1%;
  transform: scale(0.5);
}

.cubes {
  display: flex;
  width: 100%;
  flex-direction: column;

  .up1 {
    width: 100%;
    text-transform: capitalize;

    .extra {
      margin-left: -20px;
      border-radius: 10px;
      background-color: #272b2f;
      width: 70%;
      height: 230px;
      padding: 15px;


      img:nth-child(1) {
        width: 20px;
        display: unset;
      }

      span {
        font-size: 12px;
        margin-left: 4px;
      }

      .intel {
        margin-top: 0.5%;

        ul {

          li {
            color: #b4afb0;
            list-style: none;
            font-size: 13px;

            .span1 {
              display: inline-block;
              text-align: right;
              width: 85px;
            }

            div {
              width: 100px;
              display: unset;
              height: 100px;

              &::before {
                opacity: 0.2;
                padding: 0 5px 0 5px;
                vertical-align: 30%;
                font-family: arial;
                padding-top: -20px;
                content: "  ____________________________________  ";
              }
            }
          }
        }
      }
    }
  }

  .down1 {
    width: 100%;
    text-transform: capitalize;

    .social_number {
      margin-top: 10px;
      margin-left: -20px;
      border-radius: 10px;
      background-color: #272b2f;
      width: 70%;
      height: 80px;
      padding: 5px;
      padding-left: 15px;

      img:nth-child(1) {
        width: 20px;
        display: unset;
      }

      span {
        font-size: 12px;
        margin-left: 4px;
      }

      ul {
        display: flex;
        justify-content: center;
        font-size: 12px;

        .li1 {
          color: #9a9698;

        }

        li {
          margin-right: 20px;
          list-style-type: none;
        }
      }
    }
  }

}